html {
  font-size: 16px;
  /* overflow: hidden; */
}

body {
  background-image: url(./img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Rubik", sans-serif;
  user-select: none;
  overflow-x: hidden;
  /* overflow: hidden; */
}
::placeholder {
  color: #34363b;
}

.scroll-lock {
  position: fixed !important;
}
.up-button-hide {
  display: none;
}

.main-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo nav search"
    "cat1 cat2 cat3"
    "cat4 cat5 cat6"
    "footer1 footer2 footer3";
  margin: 0;
}

.header-grid,
.catalog-grid,
.footer-grid {
  border: solid 1px rgba(255, 255, 255, 0.4);
  min-width: 341px;
}

.catalog-grid {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.catalog-grid span {
  margin-left: 4.25rem;
  font-size: 1.5rem;
  height: 2.8rem;
}

.header-grid .logo {
  grid-area: logo;
}

.main-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 4.25rem;
  margin-top: 2.9rem;
}

/**/

.header-grid .nav {
  grid-area: nav;
}

.navbar {
  display: flex;
  color: #fff;
  list-style-type: none;
  width: 32.25rem;
  margin-top: 2.9rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  justify-content: space-between;
  padding-left: 0;
  line-height: 1.5rem;
}

.navbar a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 1px #fff solid;
}

/* */
.header-grid.search {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
}

.burger,
.search-glass:hover {
  cursor: pointer;
}

.catalog-grid .nonhov {
  margin-left: 4.25rem;
}

/* */
.catalog-grid .electronics {
  grid-area: cat1;
}

/* */
.catalog-grid .computers {
  grid-area: cat2;
}

/* */
.catalog-grid .appliances {
  grid-area: cat3;
}

/* */
.catalog-grid .construction {
  grid-area: cat4;
}

/* */
.catalog-grid .home {
  grid-area: cat5;
}

/* */
.catalog-grid .auto {
  grid-area: cat6;
}

/* */

.footer-grid {
  color: rgba(255, 255, 255, 0.4);
}

.footer-grid .copyright {
  grid-area: footer1;
}

.copyright span {
  position: absolute;
  left: 4.2rem;
  bottom: 1.75rem;
  font-size: 0.875rem;
}

/* */
.footer-grid .empty {
  grid-area: footer2;
}

/* */
.footer-grid .site-dev {
  grid-area: footer3;
}

.site-dev span {
  position: absolute;
  font-size: 0.875rem;
  right: 4.2rem;
  bottom: 1.75rem;
  white-space: nowrap;
}

.nonhov {
  display: block;
  font-size: 1.5rem;
  /* display: none; */
}

.hov {
  display: none;
  /* display: block; */
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.catalog-img {
  margin-right: 2.4rem;
  height: 7.5rem;
  width: 7.5rem;
}

.flex-text {
  margin-left: 4.5rem;
  white-space: nowrap;
}

.flex-text div {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  line-height: 2.1rem;
  margin-top: 0;
}

.flex-text ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.flex-text li {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.flex-text a {
  text-decoration: none;
  color: #fff;
}

.flex-text li a:hover {
  border-bottom: 1px #fff solid;
  cursor: pointer;
}

.catalog-grid:hover .nonhov {
  display: none;
}

.catalog-grid:hover .hov {
  display: block;
}

.hov-blue {
  background-color: #4285f4;
}

.hov-red {
  background-color: #f44242;
}

/**************search***************/

.search-glass {
  position: absolute;
  right: 8.4rem;
  top: 3rem;
  width: 1.5rem;
  height: 1.5rem;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 35;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.96);
}

.overlay-content {
  position: relative;
  display: flex;
  /* top: 25rem; */
  top: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  padding: 0;
  top: 2.7rem;
  right: 4.25rem;
  font-size: 35px;
  cursor: pointer;
}

.overlay input[type="text"] {
  padding-bottom: 0.7rem;
  float: left;
  width: 58rem;

  min-width: 280px;
  font-size: 1.15rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  color: #34363b;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(52, 54, 59, 0.2);
}

.submit-search {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6.25rem;
  min-height: 80px;
  background-color: #f44242;
  cursor: pointer;
  border: none;
  display: flex;
  color: #fff;
  font-family: "Rubik";
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
}

.submit-search:hover {
  background-color: rgba(52, 54, 59, 0.2);
}

.submit-search img {
  width: 1.25rem;
}

.submit-search span {
  margin-left: 0.5rem;
}

/* -----hamburger-------*/

.burger-menu {
  font-family: "Rubik", sans-serif;
}

.burger-menu_button {
  position: fixed;
  top: 3rem;
  right: 4.25rem;
  z-index: 30;
  width: 1.625rem;
  height: 1.625rem;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  /* position: fixed; */
  width: 26px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: "";
  top: -12px;
}

.burger-menu_lines::after {
  content: "";
  top: 12px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  background-color: black;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
  top: 0;
  background-color: black;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 100%;
  width: calc(100% / 3);
  background: rgba(255, 255, 255, 0.96);
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_link {
  padding: 20px 0;

  margin-left: 15rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 800;
  color: #34363b;
  border-bottom: 1px solid #fff;
}

.burger-menu_link span {
  padding-bottom: 0.3rem;
}

.burger-menu_link span:hover {
  color: #f44242;
  border-bottom: solid 2px #f44242;
}

/* --------------------- */

@media (max-width: 1650px) {
  html {
    font-size: 14px;
  }

  .navbar {
    width: 27rem;
  }

  .burger-menu_link {
    margin-left: 12rem;
  }
  /* .overlay-content {
    top: 50%;
  } */
}

@media (max-width: 1281px) {
  html {
    font-size: 13px;
  }

  .navbar {
    width: 25rem;
  }
  .burger-menu_link {
    margin-left: 10rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  .body {
    margin: 0;
    padding: 0;
  }

  .burger-menu_link {
    margin-left: 8rem;
  }

  .main-logo {
    width: 4.7rem;
    height: 4.7rem;
  }

  .main-grid {
    height: 100vh;
  }

  .navbar {
    width: 25.7rem;
  }

  .search-glass {
    position: absolute;
    top: 2.6rem;
    right: 10rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
  }

  .burger-menu {
    position: absolute;
    right: 4.4rem;
    top: 2.1rem;
    margin: 0;
    width: 3rem;
    height: 3rem;
  }

  .catalog-img {
    height: 6.7rem;
    width: 6.7rem;
  }

  .flex-text {
    margin-left: 2.3rem;
  }

  .copyright span {
    font-size: 1.2rem;
    left: 2.35rem;
    bottom: 2.5rem;
  }

  .site-dev span {
    right: 2.35rem;
    bottom: 2.75rem;
    font-size: 1.2rem;
  }
  /* .overlay-content {
    top: 50rem;
  } */
}

@media (max-width: 823px) {
  html {
    font-size: 10px;
  }

  .header-grid,
  .catalog-grid,
  .footer-grid {
    min-width: 270px;
  }

  .burger-menu_nav {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .up-button-hide {
    display: flex;
    width: 100%;
    height: 100px;
    background: #fff;
  }
  .up-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #34363b;
    justify-content: center;
    align-items: center;
  }
  .up-button span {
    margin: 0.5rem 0;
  }
  .navbar {
    display: none;
  }

  .main-grid {
    grid-template-rows: 240px 240px 240px 240px 240px 240px 192px 207px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "cat1"
      "cat2"
      "cat3"
      "cat4"
      "cat5"
      "cat6"
      "footer1";
  }

  .header-grid,
  .catalog-grid,
  .footer-grid {
    border: none;
  }

  .logo {
    grid-area: header;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-logo {
    margin: 0;
    margin-top: 9.6rem;
  }
  .search {
    grid-area: header;
    width: 100%;
    height: 100%;
  }

  .search-glass {
    position: absolute;
    /* margin: 0; */
    top: 2.25rem;
    right: 1.65rem;
  }

  .burger-menu {
    position: absolute;
    top: 2.25rem;
    left: 1.65rem;
  }
  .burger-menu_button {
    top: 0;
    left: 0;
    position: absolute;
  }
  .burger-menu_active .burger-menu_lines::before {
    left: 59rem;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 59rem;
  }
  .burger-menu_nav {
    width: 100%;
    align-items: center;
  }
  .burger-menu_link {
    margin: 0;
  }
  .link1 {
    margin-top: -14rem;
  }

  .overlay-content {
    top: 45%;
  }

  .overlay input[type="text"] {
    width: 700px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .nav {
    grid-area: header;
    width: 100%;
    height: 100%;
  }

  .flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .catalog-img {
    margin: 0;
    margin-top: 2.5rem;
    padding: 0;
    width: 6.7rem;
    height: 6.7rem;
    /* align-self: flex-start; */
  }
  .flex-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .flex-text div {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 2.5rem;
    padding: 0;
  }

  .flex-text li {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
  }
  .flex-text ul {
    display: flex;
    justify-content: center;
    margin-bottom: 3.35rem;
    margin-top: 0;
  }

  .electronics {
    grid-area: cat1;
  }

  .computers {
    grid-area: cat2;
  }

  .appliances {
    grid-area: cat3;
    width: 100%;
    height: 100%;
  }

  .construction {
    grid-area: cat4;
    width: 100%;
    height: 100%;
  }

  .home {
    grid-area: cat5;
    width: 100%;
    height: 100%;
  }

  .auto {
    grid-area: cat6;
    width: 100%;
    height: 100%;
  }

  .copyright,
  .empty,
  .site-dev {
    grid-area: footer1;
    width: 100%;
    height: 100%;
  }
  .site-dev {
    display: flex;
    justify-content: center;
  }
  .copyright {
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
  }
  .copyright span {
    position: static;
    align-self: flex-end;
    font-size: 1rem;
    color: rgba(52, 54, 59, 0.8);
    margin: 0;
    margin-bottom: 5rem;
  }
  .site-dev span {
    position: static;
    align-self: flex-end;
    font-size: 1rem;
    color: rgba(52, 54, 59, 0.8);
    margin: 0;
    margin-bottom: 2.5rem;
  }

  .nonhov {
    display: none;
  }

  .hov {
    display: block;
  }

  .overlay .closebtn {
    top: 20px;
    right: 23px;
  }
  .overlay .closebtn img {
    width: 2rem;
  }
}
@media (max-width: 736px) {
  .burger-menu_nav .link1 {
    margin: 0;
  }
  .burger-menu_active .burger-menu_lines::before {
    left: 56rem;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 56rem;
  }
}

@media (max-width: 667px) {
  .overlay input[type="text"] {
    width: 60vh;
  }
  .burger-menu_active .burger-menu_lines::before {
    left: 51em;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 51rem;
  }
}

@media (max-width: 640px) {
  .burger-menu_active .burger-menu_lines::before {
    left: 48em;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 48rem;
  }
}

@media (max-width: 568px) {
  .burger-menu_active .burger-menu_lines::before {
    left: 42em;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 42rem;
  }
}

@media (max-width: 414px) {
  .burger-menu_active .burger-menu_lines::before {
    left: 29rem;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 29rem;
  }

  .overlay-content {
    top: 45%;
  }
  .overlay input[type="text"] {
    width: 45vh;
  }
}

@media (max-width: 375px) {
  .burger-menu_active .burger-menu_lines::before {
    left: 26rem;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 26rem;
  }

  .overlay input[type="text"] {
    width: 40vh;
  }
  .overlay-content {
    top: 45%;
  }
}

@media (max-width: 320px) {
  .burger-menu_active .burger-menu_lines::before {
    left: 22rem;
  }

  .burger-menu_active .burger-menu_lines::after {
    left: 22rem;
  }
  .overlay-content {
    top: 45%;
  }
}
